<footer class="page-footer #37474f blue-grey darken-3">
  <div class="container footer-container">
    <div class="row">
      <div class="col l2 s12 center">
        <div id="edamam-badge" data-color="transparent"></div>
      </div>
      <div class="col l2 offset-l1 s12 center">
        <h6 class="white-text">ABOUT US</h6>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Dominic</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">John</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Justin</a></li>
        </ul>
      </div>
      <div class="col l2 offset-l1 s12 center">
        <h6 class="white-text">SEE PROJECT ON</h6>
        <ul>
          <li><a target="_blank" class="grey-text text-lighten-3" href="https://github.com/reactionaryzebra/ProjectRecipe">Github</a></li>
        </ul>
      </div>
      <div class="col l2 offset-l1 s12 center">
        <div>
          © 2019 Savory
        </div>
      </div>
    </div>
  </div>
</footer>
