<footer class="page-footer #37474f blue-grey darken-3">
  <div class="container footer-container">
    <div class="row">
      <div class="col l4 s12 center">
        <div id="edamam-badge" data-color="transparent"></div>
      </div>
      <div class="col l3 offset-l1 s12 center">
        <h6 class="white-text">ABOUT US</h6>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Dominic</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">John</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Justin</a></li>
        </ul>
      </div>
      <div class="col l3 offset-l1 s12 center">
        <h6 class="white-text">CONNECT WITH US</h6>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">General Assembly</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      © 2019 Savory
    </div>
  </div>
</footer>
