
    <nav class="#37474f blue-grey darken-3">
        <div class="nav-wrapper">
            <a href="/users/<%=user.id%>" class="brand-logo center"> Savory</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="modal-trigger"  href="/recipes">Recipe</a></li>
                <li><a class="modal-trigger"  href="/users/<%=user.id%>/cookbook">Cookbooks</a></li>
                <li><a class="modal-trigger" id="" href="/start">Logout</a></li>
            </ul>
        </div>
    </nav>
