<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <script type="text/javascript" src="/js/materializeModal.js" defer> </script>
  <script type="text/javascript" src="/js/materializeParallax.js" defer> </script>
  <script src="js/authEventHandlers.js" type="text/javascript" defer></script>
</head>

<body>
  <header>
    <%- include('partials/nav') %>
  </header>
  <main>
    <div class="parallax-container">
      <div class="parallax"><img src="/img/start-background1.jpg"></div>
    </div>
    <div class="section white">
      <div class="container">
        <h4 class='start-h4 center'>Find Your Favorite Recipes and Organize Potlucks</h4>
        <div class="row start-page">
          <div class="grid-example col s12 m6 l6">
            <div class='col-content start-info'>
              <h5>Getting tired of same old dishes?</h5>
              <br>
              <ul>
                <li>Search from 1.7+ million recipes.</li>
                <li>Detailed macro and micronutrient data.</li>
                <li>Filter by calories, diets and allergens.</li>
              </ul>
            </div>
          </div>
          <div class="grid-example col s12 m6 l6 ">
            <div class='col-content start-info'>
              <h5>Looking to get a potluck together?</h5>
              <br>
              <ul>
                <li>Create events and invite your friends.</li>
                <li>Add your favorite dishes.</li>
                <li>See what everyone else is bringing.</li>
              </ul>
            </div>
          </div>
        </div>
        <h4 class='start-h4 center'>You've Come to The Right Place!</h4>
      </div>


      <div class='start-register center'>
        <a href="#modal1" class="waves-effect waves-light btn #b71c1c green modal-trigger">Get Started</a>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="/img/start-background.jpg"></div>
    </div>
    <div id="modal1" class="modal start">
      <div class="modal-content">
        <h5>Registration</h5>
        <form action="/auth/register" method="post">
          Username: <input id='register-username' type="text" name="username">
          Password: <input id='register-password' type="password" name="password">
          Confirm Password: <input id='register-password-confirm' type="password" name="passwordConfirm">
          <p class="register-message message"></p>
          <button type="submit" id="register-btn" class="btn waves-effect waves-light">Submit</button>
        </form>
      </div>
    </div>
    <div id="modal2" class="modal start">
      <div class="modal-content">
        <h5>Login</h5>
        <p class='center'>Welcome back.</p>
        <form action="/auth/login" method="post">
          Username: <input id='login-username' type="text" name="username">
          Password: <input id='login-password' type="password" name="password">
          <p class="login-message message"></p>
          <button type="submit" id="login-btn" class="btn waves-effect waves-light">Submit</button>
        </form>
      </div>
    </div>
  </main>

  <%- include('./partials/footer') %>
</body>

</html>
