<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <style>
    .row {
      margin: 5rem auto;
    }

    .col-content {
      border-radius: 5%;
      margin: 2rem;
      padding: 4rem;
    }

    .parallax-container .parallax img {
      opacity: 100;
    }

    .start-register {
      margin-bottom: 12rem;
    }

    .modal {
      width: 35%;
      margin-top: 4rem;
    }

    .modal h2 {
      text-align: center;
    }
  </style>
  <script type="text/javascript" defer>
    document.addEventListener('DOMContentLoaded', function() {
      const elems = document.querySelectorAll('.modal');
      const instances = M.Modal.init(elems);
    });
  </script>
  <script src="js/eventHandlers.js" type="text/javascript" defer></script>
</head>

<body>
  <header>
    <%- include('partials/nav') %>
  </header>
  <main>
    <div class="parallax-container">
      <div class="parallax"><img src="/img/background-welcome-1.jpg"></div>
    </div>
    <div class="section white">
      <div class="container">
        <div class="row">
          <div class="grid-example col s12 m6">
            <div class='col-content #ff5252 red accent-2'>
              <span class="flow-text">This is left column</span>
            </div>
          </div>
          <div class='row'>
            <div class="grid-example col s12 m6">
              <div class='col-content #ff5252 red accent-2'>
                <span class="flow-text">This is right column</span>
              </div>
            </div>
          </div>
        </div>
        <div class='start-register center'>
          <a href="#modal1" class="waves-effect waves-light btn #ff5252 red accent-2 modal-trigger">Get Started</a>
        </div>

        <div id="modal1" class="modal">
          <div class="modal-content">
            <h2>Registration</h2>
            <form action="/users/register" method="post">
              Username: <input id='register-username' type="text" name="username">
              Password: <input id='register-password' type="password" name="password">
              Confirm Password: <input id='register-password-confirm' type="password" name="passwordConfirm">
              <p class="register-message message"></p>
              <button type="submit" id="register-btn" class="btn waves-effect waves-light">Submit</button>
            </form>
          </div>
        </div>
        <div id="modal2" class="modal">
          <div class="modal-content">
            <h2>Login</h2>
            <form action="/users/login" method="post">
              Username: <input id='login-username' type="text" name="username">
              Password: <input id='login-password' type="password" name="password">
              <p class="login-message message"></p>
              <button type="submit" id="login-btn" class="btn waves-effect waves-light">Submit</button>
            </form>
          </div>
        </div>
  </main>
  <footer class="page-footer #37474f blue-grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l4 s12 center">
          <h6 class="white-text">add some footer contents here</h6>
          <p class="grey-text text-lighten-4">and here</p>
        </div>
        <div class="col l3 offset-l1 s12 center">
          <h6 class="white-text">ABOUT US</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Dominic</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">John</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Justin</a></li>
          </ul>
        </div>
        <div class="col l3 offset-l1 s12 center">
          <h6 class="white-text">CONNECT WITH US</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">General Assembly</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
        © 2019 Savory
      </div>
    </div>
  </footer>
</body>

</html>
