<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <ul>
      <% for(let i =0; i < users.length; i++) { %>
        <li><%=users[i].username%></li>
        <form action="<%=users[i].id%>/addfriend method="post">
          <button type="submit">Add friend</button>
        </form>
      <% } %>
    </ul>
  </body>
</html>
