<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <style>
    .recipe {
      width: 10rem;
      height: 5rem;
      margin: 0 auto;
      margin-top: 4rem;
      display: grid;
      border-radius: 10%;
    }

    .potluck {
      width: 10rem;
      height: 5rem;
      margin: 0 auto;
      margin-top: 4rem;
      display: grid;
      border-radius: 10%;
    }

    .cookbook {
      width: 10rem;
      height: 5rem;
      margin: 0 auto;
      margin-top: 4rem;
      display: grid;
      border-radius: 10%;
    }

    .landing-content {
      text-align: center;
      margin-top: 1.5rem;
    }
  </style>

</head>

<body>
  <header>
    <%- include('../partials/nav2') %>
  </header>
  <h5><%=user.username.toUpperCase()%></h5>
  <div class="row">
    <div class='col s12 m12 l4'>
      <div class="recipe">
        <a href="/recipes" class='landing-content'>Find Recipes</a>
      </div>
    </div>
    <div class='col s12 m12 l4'>
      <div class="potluck">
        <a href="/potlucks" class='landing-content'>Create Potlucks</a>
      </div>
    </div>
    <div class='col s12 m12 l4'>
      <div class="cookbook">
        <a href="" class='landing-content'>Explore Cookbooks</a>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>

</html>
