body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", Helvetica, serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
nav {
  padding: 0 0.5rem;
}
main {
  flex: 1 0 auto;
}

h5,
h6 {
  font-family: Roboto, Helvetica, sans-serif;
}
h5,
h6 {
  text-align: center;
}
h6 {
  color: #ff5252;
}
/* Start Page*/
.start-page {
  margin: 5rem auto;
}
.start {
  width: 35% !important;
  margin-top: 4rem !important;
}
.start-register {
  margin-bottom: 12rem;
}

.parallax img {
  width: 100%;
}
.start-info {
  border-radius: 5%;
  margin: 2rem;
  padding: 4rem;
}
/* Landing Page */
.recipe {
  width: 10rem;
  height: 5rem;
  margin: 0 auto;
  margin-top: 4rem;
  display: grid;
  border-radius: 10%;
}

.potluck {
  width: 10rem;
  height: 5rem;
  margin: 0 auto;
  margin-top: 4rem;
  display: grid;
  border-radius: 10%;
}

.cookbook {
  width: 10rem;
  height: 5rem;
  margin: 0 auto;
  margin-top: 4rem;
  display: grid;
  border-radius: 10%;
}

.landing-content {
  text-align: center;
  margin-top: 1.5rem;
}

/* Recipe Page*/
.res-index,
.res-show {
  margin-top: 4rem;
}
.card {
  margin: 1rem;
}
.ingredients-recipe {
  border-bottom: 2px dotted #ff5252;
  text-align: center;
  padding: 4rem;
}

.ingredients-recipe ul li {
  line-height: 3rem;
}

.diet-recipe {
  margin: 1rem;
  text-align: center;
  padding: 4rem;
}

.diet-recipe ul li {
  line-height: 3rem;
}
.res-save {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
#search-input {
  text-align: center;
}

.search-icon {
  margin-left: 5rem;
  margin-top: 2rem;
}
.hoverable {
  margin: 0.75rem;
}
/* Cookbook */
.diet-cookbook {
  width: 20rem;
  height: 30rem;
  margin: 1rem;

  display: inline-block;
}

/* Potluck */
.your-potluck {
  width: 20rem;
  height: 30rem;
  margin: 0 auto;
  display: grid;
  border-radius: 10%;
}

.friends-potluck {
  width: 20rem;
  height: 30rem;
  margin: 0 auto;
  display: grid;
  border-radius: 10%;
}

.potluck-create {
  margin: 5rem 0 3rem 0;
}
.pot-modal {
  overflow-y: visible !important;
  margin-top: 4rem;
}

.datepicker {
  width: 40%;
  height: 40%;
}
.modal-overlay {
  top: 0% !important;
  height: 100% !important;
}

.pot-row {
  margin-top: 4rem;
}

.potluck-info {
  height: 7rem;
  display: grid;
  border-radius: 5%;
}

.dishes {
  margin: 3rem;
  height: 20rem;
  border-radius: 10%;
}

.guests {
  margin: 3rem;
  height: 20rem;
  border-radius: 10%;
}

.pot-btn {
  margin-bottom: 12rem;
}
