body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", Helvetica, serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
nav {
  padding: 0 0.5rem;
}
main {
  flex: 1 0 auto;
}

h5,
h6 {
  font-family: Roboto, Helvetica, sans-serif;
}
h5,
h6 {
  text-align: center;
}
h6 {
  color: #ff5252;
}
/* Nav */
#dropdown a {
  color: #039be5;
}
/* Start Page*/
.start-page {
  margin: 5rem auto;
}
.start {
  width: 35% !important;
  margin-top: 4rem !important;
}
.start-register {
  margin-bottom: 12rem;
}
span {
  color: #b71c1c;
}
.parallax img {
  width: 100%;
}
.start-info {
  margin: 1rem;
  padding: 2rem;
  width: auto;
  height: auto;
}
/* Landing Page */
#landing {
  width: 100%;
  height: 100%;
  background-image: url("./img/landing-background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-item {
  width: 10rem;
  height: 5rem;
  margin: 0 auto;
  margin-top: 4rem;
  display: grid;
  border-radius: 10%;
}
.carousel {
  height: 35rem !important;
}

.carousel .carousel-item img {
<<<<<<< HEAD
  border-radius: 10px 100px / 120px;
  border: 1px solid black !important;
  width: 367px !important;
  height: 270px !important;
=======
  border: 2px solid;
  width: 400px !important;
  height: 295px !important;
  border-style: none;
>>>>>>> master
}

.landing-content {
  text-align: center;
  margin-top: 1.5rem;
}

/* Recipe Page*/
.collapsible-header {
  border-bottom: 2px solid #039be5 !important;
}
.res-index,
.res-show {
  margin-top: 4rem;
}
.card {
  margin: 1rem;
}
.ingredients-recipe {
  border-bottom: 2px dotted #ff5252;
  text-align: center;
  padding: 4rem;
}

.ingredients-recipe ul li {
  line-height: 3rem;
}

.diet-recipe {
  margin: 1rem;
  text-align: center;
  padding: 4rem;
}

.diet-recipe ul li {
  line-height: 3rem;
}
.res-save {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
#search-input {
  text-align: center;
}

.search-icon {
  margin-left: 5rem;
  margin-top: 2rem;
}
.hoverable {
  margin: 0.75rem;
}
/* Cookbook */
.diet-cookbook {
  width: 20rem;
  height: 30rem;
  margin: 1rem;

  display: inline-block;
}
.cookbook-h6 {
  margin-top: 5rem;
}

/* Potluck */
.your-potluck {
  width: 20rem;
  height: 30rem;
  margin: 0 auto;
  display: grid;
  border-radius: 10%;
}

.friends-potluck {
  width: 20rem;
  height: 30rem;
  margin: 0 auto;
  display: grid;
  border-radius: 10%;
}

.potluck-create {
  margin: 5rem 0 3rem 0;
}
.pot-modal {
  overflow-y: visible !important;
  width: 55% !important;
}
.datepicker-modal {
  min-width: none !important;
}
.datepicker {
  width: 40%;
  height: 40%;
}
.modal-overlay {
  top: 0% !important;
  height: 100% !important;
}

.pot-row {
  margin-top: 4rem;
}

.potluck-info {
  height: 7rem;
  display: grid;
  border-radius: 5%;
}

.dishes {
  margin: 3rem;
  height: 20rem;
  border-radius: 10%;
}

.guests {
  margin: 3rem;
  height: 20rem;
  border-radius: 10%;
}

.pot-btn {
  margin-bottom: 12rem;
}
/* Friends page */
.friends-row {
  margin-top: 5rem;
}
/* Users Page */
.user-h6 {
  margin-top: 5rem;
}
